.my-app {
  background-color: #CCC;
}

.box {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #CCC;
  border-radius: 5px;
  padding: 25px;
  justify-items: stretch;
  align-items: stretch;
}

.box-waiting {
  display: flex;
  flex-direction: row;
  background-color: #CCC;
  border-radius: 5px;
  padding: 25px;
  justify-content: center;
  align-items: stretch;
}

@keyframes bounce {
  from { transform: translate3d(10px, 0, 0);}
  to   { transform: translate3d(340px, 0, 0); }
}

@keyframes color-change {
  0%   {background-color: #CCC;}
  25%  {background-color: #1C6EA4;}
  50%  {background-color: #B2FF9F;}
  100% {background-color: #eda539;}
}

.ball-container {
  animation: bounce 2.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.ball {
  height: 30px;
  width: 30px;
  border-radius: 30%;
  animation: color-change 3.5s;
  animation-iteration-count: infinite;
}

.uparrow {
  font-size: 20px;
  font-weight: bold;
}

.waiting {
  text-align: center;
}

.chart {
  grid-column: 2;
  grid-row: 3;
}

.weather {
  grid-column: 2;
  grid-row: 1;
}

.address {
  grid-column: 2;
  grid-row: 2;
}

.walkscore {
  grid-column: 1;
  grid-row: 1 / 2;
  justify-self: center;
}

.bikescore {
  grid-column: 3;
  grid-row: 1 / 2;
  justify-self: center;
}
