.my-address {
  background-color: #1C6EA4;
  color: #B2FF9F;
  border-radius: 5px;
  text-align: center;
  font-size: 32px;
  font-style: oblique;
  -webkit-box-shadow: 5px 2px 15px 5px rgba(0,0,0,0.31);
  box-shadow: 5px 2px 15px 5px rgba(0,0,0,0.31);
}

.address-header {
  color: #B2FF9F;
  font-size: 26px;
  background: black;
  text-transform: capitalize;
}

.marginTop10px {
  margin-top: 10px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}
