.my-card {
  background-color: #B2FF9F;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  -webkit-box-shadow: 5px 2px 15px 5px rgba(0,0,0,0.31);
box-shadow: 5px 2px 15px 5px rgba(0,0,0,0.31);
}

.card-header {
    background: black;
    color: #B2FF9F;
    text-transform: capitalize;
}

.marginTop10px {
  margin-top: 10px;
}
